<!DOCTYPE html>
<meta charset="utf-8">

<head>
    <link rel="stylesheet" href="../style/keyword_space_umap.css">
</head>

<body style="background-color:#180F1A">
    <div id="title-div">
        <h1>Projection of keywords based on reference mentions</h1>
    </div>

    <div id="content-div">

        <div id="svg-div">
            <svg height="800" width="1200"></svg>
        </div>

        <div id="info-div-container">
            <div id="info-div">
            </div>
        </div>
    </div>

    <div id="description-div-container">
        <div id="description-div">
            Hover over a node to see the associated keyword. Click a node to see associated references.
        </div>
    </div>

    <!-- <div id="extras">
        <button id="reset">Reset all</button>
    </div> -->



    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="../js/keyword_space_umap.js"></script>




</body>